#
# Dial-up configuration for calling mbari via the globalstar modem
#
linkname globalstar
<PRIMARY_PPP_HOST>:
ipparam mbari
#logfile /var/log/globalstar.log
#record /tmp/pppd.record
#debug
noauth
user <PRIMARY_PAP_CLIENT>
usepeerdns
maxconnect 3600         #disconnect after one hour
noipdefault
defaultroute
deflate 14
updetach

globalstar
38400
modem
crtscts
lock
connect /etc/ppp/dialMBARI
