# Secrets for authentication using PAP
# client        server  secret                  IP addresses
<PRIMARY_PAP_CLIENT>     *       <PRIMARY_PAP_SECRET>          <PRIMARY_PPP_HOST>
<AUX_PAP_CLIENT>     *       <AUX_PAP_SECRET>          <AUX_PPP_HOST>
